* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 1px;
    color: black;
}

body {
    min-height: 100vh;
    background-color: rgba(62, 61, 61, 0.101);
    background-image: url(/img/R.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    
}

header, main {
    background-color: rgb(63, 61, 61);
    border: 2mm ridge rgba(116, 114, 114, 0.438);
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

header h1 {
    color: rgb(221, 195, 0);
    font-weight: lighter;
}

main {
    margin-top: 10px;
}

section {
    position: relative;
}
/*  ------- */
.submitSection__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.submitSection__form input,
.submitSection__form button {
    font-size: 1.25rem;
    padding: 10px;
    border-radius: 12px;
    outline: none;
}

.submitSection__form input {
    width: calc(100% - 60px);
}

.submitSection__form button {
    min-width: 48px;
    min-height: 48px;
    cursor: crosshair;
    letter-spacing: 1.35px;
    color: rgb(221, 195, 0);
    background-color: rgb(124, 0, 0);
    border: 2mm ridge rgb(119, 119, 119);
}

.suggestionSection {
    padding-top: 20px;
}

.suggestionSection h2 {
    border: 2mm ridge rgb(119, 119, 119);
    font-weight: lighter;
    margin-bottom: 20px;
    color: rgb(221, 195, 0);
}

.suggestionSection p {
    margin-top: 1.5rem;
    color: rgb(221, 195, 0);
    border: 2mm ridge rgb(119, 119, 119);
    border-width: 100%;
}

.suggestionSection a,
.suggestionSection a:hover,
.suggestionSection a:focus {
    color: rgb(255, 145, 0);
}

li {
    color: rgb(221, 195, 0);
}

ol {
    margin-left: 40px;
    word-break: break-all;
    font-size: 1.15rem;
}

/* ol > ul {
    padding-bottom: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

ul > li {
    margin-top: 10px;

} */

.offscreen {
    position: absolute;
    left: -10000px;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 768px) {
    body {
        padding: 20px;    
}

h1 {
    font-size: 2rem;
}

ol {
    margin-left: 40px;
    font-size: 1.5rem;
}
}