/* Basic Page Layout stuff */
* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background: #fff;
	color: #000;
}
body, ul, ol, dl {
	margin: 0;
}
table { 
	border-collapse: collapse; 
}
td {
	padding: .5rem;
}
	
img { 
	border: none;
	max-width: 100%;
}

/* Typograhpy */
body {
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
}

h1.heading {
	font-size: 4rem;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}

/* Custom Classes */
.flex {
    display:flex;
}

.jc {
    justify-content: space-between;
}

/* Buttons */
.button {
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	border-radius: 3px;
	font-weight: 500;
	line-height: 16px;
	padding: 2px 16px;
	height: 38px;
	min-width: 96px;
	min-height: 38px;
	border: none;
	color: #fff;
}
.button.blue {
	background-color: rgb(88, 101, 242);
}